.service-card{
    width: 300px;
    height: 495px;
    overflow: hidden;
    padding-left: 20px;
    border-radius: 5px;
    display:absolute;
}
.service-card:hover{
    border: 2px solid blue;
    transition: 1s ease-out;
    
}
.service-card img{
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card-btn{
    width: 90%;
    border: none;
    padding: 10px;
    background-color: #0196c9;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}
.card.btn:hover{
    color:orange;
}