.bg{
    background-color: #0197c9ad;
    padding:20px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    margin-top: 100px;
}
@media only screen and (max-width: 487px){
    .bg{
        width: 360px;
        margin: 0 auto;
    }
}